/****************************** UNIVERSAL SETTINGS ******************************/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --ff-primary: 'Karla', sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;

    --fs-primary: 16px;

    --clr-primary-cyan: hsl(179, 62%, 43%);
    --clr-primary-yellow: hsl(71, 73%, 54%);
    --clr-neutral-gray: hsl(204, 43%, 93%);
    --clr-neutral-blue: hsl(218, 22%, 67%);
}

body {
    background-color: var(--clr-neutral-gray);
    font-family: var(--ff-primary);
    font-size: var(--fs-primary);
}

/****************************** GRID COMPONENT DESIGN ******************************/
.container {
    height: max(95vh, 480px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-component {
    width: min(620px, 90%);
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 10px 40px -1px rgb(25 102 101 / .2);
}

.grid-component > * {
    padding: 2rem;
}

/* intro section design */
.grid-component > .intro {
    grid-column: span 2;
}

.intro h2 {
    margin-bottom: 1.2rem;
    color: var(--clr-primary-cyan);
}

.intro h4 {
    color: var(--clr-primary-yellow);
}

.intro .content {
    margin: 1rem 0;
    color: var(--clr-neutral-blue);
    line-height: 1.4;
}

.grid-component > .price {
    background-color: var(--clr-primary-cyan);
}

.grid-component > .info {
    /* background-color: #49BEBD; */
    background-color: var(--clr-primary-cyan);
    opacity: 0.8;
}

/****************************** FOOTER ******************************/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }